header
    padding: 1em
    background-color: $headerBgColor
    color: $headerTextColor

    > h1
        display: block
        margin-right: 2em
        margin-bottom: 0.25em
        font-size: 1.25em
        font-weight: normal

    a
        color: $headerLinkColor

    nav
        display: block
