// this is a dumping ground because I'm too lazy to deal with properly
// organizing my css right now. later...

.item-form
    margin: 1em 0
    &.disabled
        opacity: 0.25

    input
        display: block
        margin-right: 0.5em
        margin-bottom: 0.5em
        width: 90%
        @media (min-width: 670px)
            display: inline-block
            width: 20em

.form-message
    display: block
    margin: 0.5em 0
    padding: 0.5em
    background-color: $flashBgColor

    &.error
        background-color: $errorColor
        color: white

.create-item
    margin-top: 2em

    > h3
        margin: 0 0 0.25em

.input-message
    display: block
    font-size: 0.75em

    &.error
        color: $errorColor

.item-delete-button
    margin-left: 0.5em
    background-color: lighten($errorColor, 55%)
