body
  margin: 0
  padding: 0
  font-family: sans-serif

h2 > small
    display: block
    font-size: 0.6em
    font-weight: normal

a
    color: $linkColor

nav
    display: inline-block

    a
        display: inline-block
        margin-right: 0.5em
        padding-right: 0.5em
        border-right: 1px solid #aaa

        &:last-child
            border-right: none

        &:hover, &:focus
            text-decoration: none

main
    padding: 1em

input, textarea, button
    font-size: 1em

input, textarea
    padding: 0.25em 0.5em

button
    padding: 0.25em 0.5em
    border-radius: 0.4em
    background-color: lighten($linkColor, 60%)

label > input
    display: block
    margin: 0.5em 0
